@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
  --white-base: #fff;
  --color-violet: #889dea;
  --primary-green: #88eaa9;
  --color-text: #3f3f3f;
  --grey-light: #c7c7c7;
  --grey-light-base: #bbbbbb;
  --color-grey: #afafaf;
  --font-base: 'Poppins', sans-serif;
}
